/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

@font-face {
  font-family:'superMario';
  src: url(../fonts/webfontkit-20230420-060121/supermario256-webfont.woff) format('woff'),
       url(../fonts/webfontkit-20230420-060121/supermario256-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'digitalgame';
  src: url(../fonts/webfontkit-20230424-045830/retro_gaming-webfont.woff) format('woff2'),
       url(../fonts/webfontkit-20230424-045830/retro_gaming-webfont.woff2) format('woff2');
  font-style: normal;
  font-weight: lighter;

}

body {
  margin:0;
  padding:0;
  width: 100vw;
  /* 100% van de viewport;  De viewport is het zichtbare gebied van een webpagina, 
  waarin de inhoud wordt weergegeven.*/
  height: 100vh;
  animation: lucht 10s linear infinite;
  background-color: var(--backgroundcolor);
  background-size: 20em 20em;
  /* background-image: repeating-linear-gradient(45deg, #0070cc 0px, #d7d9f8 30px, #0070b1 0, #b8b8dd 50%); */
  /* BRON:https://www.magicpattern.design/tools/css-backgrounds */
}

@keyframes lucht {
  0% {background-position: left;}
  100% { background-position: right;}
}


main{
  height: 100vh;
  /* Door het gebruik van "vh" kan ervoor gezorgd worden dat deze elementen zich aanpassen 
  aan de grootte van het scherm */
  /* !!het is een eenheid die afhankelijk is van de viewport!! :het zichtbare gebied van een webpagina, */
  width: 300%;
  background-image: url("../images/bg2nieuw.png");
  background-size: 100% auto;
  position: relative;
  background-position: 0em bottom;
  background-repeat: no-repeat;
}


button:not([disabled]) {
  cursor: url("../images/mariohand.png") 0 0, auto;
}


.cursor img{
  position: absolute;
  width: 10%;
  appearance: none;
  padding: 0%;
  margin:0%;
  cursor: url("../images/kleineMariohand.png"), 18 5 auto;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --backgroundcolor: rgb(72, 202, 253);
  --grotekop:rgb(255, 225, 89);
  --bordergrotekop: rgb(255, 136, 0);
  --subtitel:rgb(255, 225, 89);
  --jaargetallen: rgb(250, 192, 0);
  --borderjaargetallen: .07em rgb(243, 40, 4);
  --popupbackground:rgb(218, 198, 143);
  --wolk: rgb(255, 255, 255);
  --smiley: rgb(143, 94, 5);
  --kleinekop: rgb(253, 116, 235);
  --borderkleinekop: rgb(73, 3, 44);
  --titelshadow: rgb(21, 72, 180);
  --tabcolor:  rgb(226, 186, 226);
  --waterdonker: rgb(24, 0, 161);
  --waterlicht:  rgb(31, 126, 189);
  --paragraaftekst: rgb(0, 0, 0);
  --tekstwolk:  rgb(206, 188, 176);
  --background-popups:  rgb(189, 100, 40);
  --background-popupsclose: rgb(187, 186, 185);
  --headerfont: 'superMario', Arial, Helvetica, sans-serif;
  --popuptekst:'digitalgame' , Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark){
  :root{
  --backgroundcolor: rgb(30, 80, 146);
  --wolk: rgb(132, 145, 182);
  --titelshadow:rgb(124, 143, 184);
  --tabcolor:  rgb(151, 39, 151);
  --background-popups:  rgb(112, 52, 12);
  --paragraaftekst: rgb(228, 220, 220);
  --tekstwolk:  rgb(126, 86, 59);
  }
}



/********************/
/* HEADER STYLING */
/********************/
h1{
  color:var(--color-headings);
  font-family: var(--headerfont);
  color: var(--kleinekop);
  position: absolute;
  font-size: 1vw;
  rotate: -23deg;
  -webkit-text-stroke: 1px var(--borderkleinekop);
  text-shadow:  .3em .3em .2em var(--titelshadow);
  z-index: 1;
}

h1:nth-of-type(1){
  bottom: 44vw;
  left: 25.5%;
}
h1:nth-of-type(2){
  bottom: 43vw;
  left: 25.5%;
}

h2{
  z-index: 1;
  font-family: var(--headerfont);
  color:var(--grotekop);
  position: absolute;
  font-size: 3vw;

  rotate: -10deg;
  text-align: center;
  -webkit-text-stroke: 3px var(--bordergrotekop);
  text-shadow: .2em .2em .2em var(--titelshadow), -.2em -.2em .2em var(--titelshadow);
}


h2:nth-of-type(1){
  bottom: 42vw;
  left: 36%;
}
h2:nth-of-type(2){
  bottom: 38vw;
  left: 27%;
}


h3{
  font-family: var(--headerfont);
  -webkit-text-stroke: var(--borderjaargetallen);
  color: var(--jaargetallen);
}

h4{
  color: var(--paragraaftekst);
  font-size: .8vw;
  font-family: var(--headerfont);
  font-weight: lighter;
}

p{
  font-family: var(--popuptekst);
  font-size: .7em;
  color: var(--paragraaftekst);
}









/* SMILEY OP DE BOOM */
.smiley{
  position: absolute;
  height: 6vw;
  aspect-ratio: 1/1;
  left: .7%;
  bottom:18.5vw;
}

.smiley div{
  position: absolute;
}

.smiley div:nth-of-type(1),
.smiley div:nth-of-type(2) {
  width:10%;
  aspect-ratio:1/2;
  background-color:var(--smiley);
  border-radius:10em;
  top:20%;
}

.smiley div:nth-of-type(1) {
  left:33%; 
}
.smiley div:nth-of-type(2){
  right: 33%;
}

.smiley div:nth-of-type(3){
  height:30%;
  width:60%;
  left:20%;
  top:50%;
  border-style:solid;
  border-color:var(--smiley);
  border-width:0em .5vw .5vw .5vw;
  border-radius:0 0 100em 100em;
  animation-name: smileybewegen;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes smileybewegen{
  0%{ 
    height: 30%;
  }
  10%{
    height:9%;
    transform:scaleY(1);
  /* je voegt scaleY(1) zodat de lijn niet vervormt */
  }
  10.1% {
    transform:scaleY(-1);
    height:9%;
     /*  de balk draait 180 graden en verkleint de hoogte weer tot 9%.*/
  }
  20% {
    transform:scaleY(-1);
    height:30%;
  }
  30% {
    transform:scaleY(-1);
    height:9%;
  }
  30.1% {
    transform:scaleY(1);
    height:9%;
  }
  40%,
  100%{
    height:30%;
  }
}




/* GROTE WOLK*/
.wolk{
  position: fixed;
  top:5em;
  left:-26em;
  animation: wolk 10s linear infinite;
}

@keyframes wolk {
  0% {transform: translateX(0);}
  100% {transform: translateX( calc(100vw + 26em) );}
} 

.circle {
  width: 6em;
  height: 6em;
  background: var(--wolk);
  border-radius: 50%;
  position: absolute;
}

.circle:nth-of-type(1){
  top: 7em;
  left: 3em;
  }

.circle:nth-of-type(2){
  width: 10em;
  height: 10em;
  left:8em;
  top:5em;
}

.circle:nth-of-type(3){
  width: 26em;
  height: 5em;
  border-radius: 10em;
  top: 10em;
  
}

.circle:nth-of-type(4){
  top: 7em;
  left: 17em;
}




/* KLEINE WOLK*/
.wolkk{
  position: relative;
  top: 10em;
  left: 0em;
  animation: wolk 5s linear infinite;
}

.circlek {
  width: 3em;
  height: 3em;
  background: var(--wolk);
  border-radius: 50%;
  position: absolute;
}

.circlek:nth-of-type(1){
  top: 8em;
  left: 1em;
  }

.circlek:nth-of-type(2){
  width: 5em;
  height: 5em;
  left:3.5em;
  top:7em;
}

.circlek:nth-of-type(3){
  width: 12em;
  height: 3em;
  border-radius: 10em;
  top: 10em;
}

.circlek:nth-of-type(4){
  top: 8em;
  left: 8em;
}

.wolkk{
  position: fixed;
  top:10em;
  left: -12em;
  animation: wolkk 20s linear infinite;
}

@keyframes wolkk{
  0% {transform: translateX(0);}
  100% {transform: translateX( calc(100vw + 12em) );}
} 










/* WATER */
.watercontainer{
  position: fixed;
  width: 120%;
  height: 20%;
  background-color: var(--waterdonker);
  bottom: 0;
  z-index: 1;
  opacity: 60%;
  background-position: 0;
  animation: water 2s linear infinite;

  --mask:
  radial-gradient(77.42px at 50% 108.00px,#000 99%,#0000 101%) calc(50% - 90px) 0/180px 100%,
  radial-gradient(77.42px at 50% -63px,#0000 99%,#000 101%) 50% 45px/180px 100% repeat-x;
  -webkit-mask: var(--mask);
        mask: var(--mask);
            /* BRON https://css-generators.com/wavy-shapes/ */
}

@keyframes water{
  0% {left: -10%; bottom:-1px;}
  25% {left:-5%; bottom:-10px;}
  50% {left:0%; bottom:-1px;}
  100% {left: -10%; bottom:-1px}
}

.watercontainer2{
  position: fixed;
  width: 120%;
  height: 20%;
  background-color: var(--waterlicht);
  bottom: 0;
  z-index: 1;
  opacity: 60%;
  background-position: 0;
  animation: water2 2s linear infinite;

  --mask:
  radial-gradient(77.42px at 50% 108.00px,#000 99%,#0000 101%) calc(50% - 90px) 0/180px 100%,
  radial-gradient(77.42px at 50% -63px,#0000 99%,#000 101%) 50% 45px/180px 100% repeat-x;
-webkit-mask: var(--mask);
        mask: var(--mask);
            /* BRON https://css-generators.com/wavy-shapes/ */
}

@keyframes water2{
  0%{ left: 0%; bottom:-7px;}

  50%{ left:-5%; bottom: 0px;}

  100%{ left: 0%; bottom:-7px;}
  }





/* LIST ITEMS*/

/* Algemene styling */
ol{
  list-style: none;
  margin: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  /* relative: andere elementen op de pagina worden niet beïnvloed door de positie van het element */
}

ol li > button:nth-of-type(1){
  border: none;
  animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

/* glow voor alle peaches */
@keyframes glow{
  0%{
    height: 13vw; 
  }
  100%{
    height: 12.8vw;
    filter: 
    drop-shadow(5px 5px 5px var(--wolk))
    drop-shadow(-5px -5px 5px var(--wolk));
  }
}






/* peach 1 */
ol li:nth-of-type(1) > button {
  position: absolute;
  height: 13vw;
  left: 5%;
  bottom: 14vw;
  padding:0;

  appearance: none;
  background: none;
  border:none;
}

li:nth-of-type(1) > button img{
  display:block;
  /* block: dat ze elk hun eigen regel in beslag nemen en dat er 
  geen andere elementen naast of bovenop geplaatst kunnen worden. */
  height:100%;
  width: auto;
}








/* peach 2 met blok */
li:nth-of-type(2) > button:nth-of-type(1){
  /* background-color: red; */
  position: absolute;
  height: 13vw;
  bottom: 13vw;
  left: 19%;
  padding: 0;

  appearance: none;
  background: none;
  border:none;
}

/* PEACH 2*/
li:nth-of-type(2) > button img{
  /* background-color: red; */
  width:auto;
  height: 100%;
  display: block;
}

/* in de javascript roep je de klas spring aan met addclastlist*/
li:nth-of-type(2) > button.spring {
  animation-name: peach2jump;
  animation-duration:.5s;
  animation-iteration-count: 1;
}

@keyframes peach2jump{
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-9vw);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
  }
}

li:nth-of-type(2) .blok {
  position: absolute;
  left:19%;
  bottom:35vw;
  height:6vw;
}

li:nth-of-type(2) .blok.spring {
  animation-name: peach2jump;
  animation-duration:.3s;
  animation-delay: .25s;
}



/* het blokje */
.blok img:nth-of-type(1){
  position: relative;
  z-index: 1;
  width: auto;
  height: 100%;
}

/* het muntje */
.blok img:nth-of-type(2){
  position: absolute;
  left: 8%;
  bottom: 0;
  width: auto;
  height: 100%;
}

.blok.spring img:nth-of-type(2){
  animation-name: muntje2;
  animation-duration:.5s;
  animation-delay: .4s;
}

@keyframes muntje2 {
  0% {
    transform: translateY(0);
  }
  50% {
    opacity:1;
  }
  100% {
    opacity:0;
    transform: translateY(-300%) rotateY(2turn);
  }
}
 /* einde peach 2 met blok */





/* PEACH 3 */
li:nth-of-type(3) > button:nth-of-type(1){
  position: absolute;
  height: 13vw;
  bottom: 18vw;
  left: 35%;
  padding: 0;

  appearance: none;
  background: none;
  border:none;
}

li:nth-of-type(3) > button:nth-of-type(1) img{
  height: 100%;
  width: auto;
  display:block;
}





/* PEACH 4 */
li:nth-of-type(4) > button:nth-of-type(1){
  position: absolute;
  width: auto;
  height: 13vw;
  left: 50%;
  bottom: 22vw;
  padding: 0;

  appearance: none;
  background: none;
  border:none;
}

li:nth-of-type(4) > button:nth-of-type(1) > img{
  width: auto;
  height: 100%;
  position: block;
}






/* PEACH 5 */
li:nth-of-type(5) > button:nth-of-type(1){
  position: absolute;
  width: auto;
  height: 13vw;
  left: 71.5%;
  bottom: 18vw;
  padding:0;

  appearance: none;
  background: none;
  border:none;
}

/* > en nth of type omdat:  >voor de button en nth voor ook de img*/
li:nth-of-type(5) > button:nth-of-type(1) > img{
  width: auto;
  height: 100%;
  position: block;
}





/* TOAD */
button.toad {
  border:none;
  position: absolute;
  left: 68.5%;
  bottom: 18vw;
  padding:0;
  background:none;
}

.toad > img{
  /* background-color: red; */
  height:15vw;
  width: auto;

  z-index: 1;
  animation-name: toadgrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}


/* grow toad */
@keyframes toadgrow{
  0%{
    height: 6vw; 
  }
  100%{
    height: 6.1vw;
  }
}

/* verschillende states */
.toad > img:hover{
  height:7vw;
  width:auto;
  animation: none;  
}

.toad > img:active{
  height:5vw;
  width:auto;
  animation: none;
}

button.toad:focus-visible{
  animation: none;
  outline: none;
  padding: 1em;
  background-color: var( --tabcolor);
  border-radius: 50%;
}



/* tekst wolkje */
button.toad div {
  position: absolute;
  background-color: var(--tekstwolk);
  padding:.1em .1em .1em .1em;
  border-radius: 10px;
  width: 6.3vw;
  height:3.5vw;
  left:58%;
  bottom:8vw;
  animation-name: tekstwolk;
  animation-duration: 4s;
  animation-delay: 2;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes tekstwolk{
  0% { opacity: 0;}
  50% {opacity: 100%; rotate: 10deg;}
  60% {opacity: 100%; rotate: 10deg;}
  100% {opacity: 0%; rotate: 0deg;}
}

.toad div:before {
  content: "";
  /* je zet hier lege content op de pagina die een hoogte en breedte mee krijgt en een background color om het driehoekje bij de tekst wolk te maken */
  position: absolute;
  bottom: -.7vw;
  left: .8vw;

  border-style: solid;
  border-width: 10px 10px 0px 10px;
  border-color: var(--tekstwolk) transparent var(--tekstwolk) transparent;
}

.toad div h4{
  position: abosulte;
  text-align: center;
  padding: .1em;
}
/* BRON:CHATGTP */









/* BOWSER */
.bowser img{
  position: fixed;
  display:block;
  height: 30%;
  width:auto;  
  left: -15em;
  animation: wolk 10s infinite 10s;
}

@keyframes bowser{
  0% {transform: translateX( calc(100vw + 10em) );}
  100% {transform: translateX(0);} 
}






/* POP-UP PEACHES */

/* Algemene styling */
.popup {
  display: none;
  position: absolute;
  padding: 20px;
  background-color: var(--background-popups);
  border-radius: 5%;
  z-index: 1;
}

.popup.show {
  display:block;
}

.popup .close-button {
  position: absolute;
  display: block;
  border:none;
  border-radius: 50%;
  background-color: var(--background-popupsclose);
  /* border-color:rgb(165, 165, 165); */
  z-index: 100;
  width:2em;
  height:2em;
  margin:0;
  top: 2%;
}




/* popup 1  */
#popup1 {
  width: 16em;    /* Em ipv vw om het leesbaar te houden */
  height: auto;
  bottom:18vw;
  left: 8%; 
}
#close-popup1{
  left:84%;
}

/* popup 2  */
#popup2 {
  width: 16em;
  height: auto;
  bottom:16.5vw;
  left: 22%; 
}
#close-popup2{
  left:84%;
} 

/* popup 3  */
#popup3{
  width: 16em;
  height: auto;
  bottom:23vw;
  left: 38%; 
}
#close-popup3{
  left:84%;
} 
 
/* popup 4  */
#popup4{
  width: 20em;
  height: auto;
  bottom:27.5vw;
  left: 53%; 
}
button#close-popup4{
  left:87%;
} 

/* popup 5  */
#popup5{
  width: 16em;
  height: auto;
  bottom:23.5vw;
  left: 75%; 
}
#close-popup5{
  left:85%;
}  




/* states voor alles peaches */
ol li button:nth-of-type(1) > img:hover{
  height: 14vw;
  animation: none;
}

ol li >  button:nth-of-type(1) > img:active{
  animation: none;
  height: 12vw;
}

ol li button:nth-of-type(1):focus-visible{
  animation: none;
  outline: none;
  padding: 1em;
  background-color: var( --tabcolor);
  border-radius: 50%;
}